:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--system-ui);
    font-size: 18px;
    line-height: 1.5;
    color: #251c2f;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(#ff0f7b, #f89b29);
}

#description, #title {
    padding: 0 10px;
    text-align: center;
}

#survey-form {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/* Added for Safari & DuckDuckGo on iPhone but still not 100% correct */

#dropdown {
    accent-color: #FF0F7BFF;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.25);
}

#checkbox-7:checked ~ #specify {
    display: block;
}

#textarea {
    font-family: var(--system-ui);
    height: 5rem;
}

#submit {
    font-size: 1rem;
    background-image: linear-gradient(to bottom right, #1DF547, #fff);
    cursor: pointer;
}

#submit:hover {
   width: 94%;
    margin: 10px auto;
}

#submit:active {
    background-image: linear-gradient(to bottom right, #fff, #1DF547);
}

.sm {
    font-size: 0.8em;
}

.bold {
    font-weight: 800;
}

.pink{
    accent-color: #FF0F7BFF;
}

.bottom-space {
    margin-bottom: 20px;
}

.top-space {
    margin-top: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0;
}

.input, .option, #textarea, #submit {
    border: 1px solid #251c2f;
    border-radius: 5px;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.input:focus, .option:focus, #textarea:focus {
    outline: #FF0F7BFF auto 2px;
}

.hidden {
    display: none;
}
